* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

*::selection {
    background-color: rgb(71, 107, 155);
}

html {
    background: var(--main-color);
}

:root {
    --main-color:#0b0c16;
    --white:#ffffff;
    --bar-color:#257fc3;
    --secundaryColor:#EF0070;
    --terciaryColor:linear-gradient(218.99deg,#3F69FF -19.82%,#EF0070 100.25%);
    --secondaryGradient: linear-gradient(218.99deg,#3F69FF -19.82%,#EF0070 100.25%);
    --shadow:background-image: linear-gradient(178.77deg, rgb(2, 19, 35) -99.8%, rgb(5, 16, 47) -64.56%, rgb(13, 7, 77) -49.91%, rgb(136, 52, 150) 55.47%, rgb(244, 101, 178) 98.95%);
    --triangle:linear-gradient(25deg,#ef007075 -100%,#3f69ff65 100%);
    --triangle2:linear-gradient(125deg,#ffffff 70%,#c0bfbd 100%);
}

/***********SECCION1***********/
.seccion1 {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    z-index: 100;
    background-image: linear-gradient(5deg, #0b0c16 50%, #2696ff 400%);
}

.titulos {
    display: grid;
    grid-column: span 2;
    grid-row: span 2;
    row-gap: 1.5em;
    margin-top: 9em;
    margin-left: 8em;
    font-family:'inter', sans-serif;
}

.t-name{
    font-weight: 500;
    color:var(--white);
    font-size:5.5em;
    z-index: 1;
}

.sub-title {
    background-image: var(--secondaryGradient);
    -webkit-background-clip: text;
    color:transparent;
    font-size: 3em;
    opacity: 0.5;
}

.header-image {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
}

.header-image img {
    width: 45%;
    height: 100%;
}

/***********SECCION2***********/
.seccion2 {
    width: 90%;
    min-height: 50vh;
    margin:auto;
    margin-top: 10em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 10em;
}

.content2 {
    width: 94%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 55% 45%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 99;
    border-radius: 10px;
}

.about {
    display: grid;
    grid-template-rows: 10% 90%;
    row-gap: 1em;
    color: var(--white);
}

.t-sobre-mi {
    font-family: 'inter', sans-serif;
    font-size: 34px;
    width: 50%;
}

.t-sobre-mi::after {
    content: "";
    display: block;
    position: relative;
    top: -20px;
    width: 120%;
    min-height: 1px;
    margin-left: 180px;
    background-image: var(--secondaryGradient);
}

.parrafo-about {
    display: inline-block;
    background-image: paint(button);
    padding: 2em;
}

.p-sobre-mi {
    font-size: 1.1em;
    font-family: 'Open Sans', '-apple-system', sans-serif;
    z-index: 99;
    padding: 0 0.5em;
}

.mockups {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6.5em;
}

.img-about {
    width: 70%;
    height: 100%;
}
.content2-2 {
    width: 94%;
    min-height: 100%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.barras-de-progresos{
    transform: translate(-800px,0);
    opacity: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 2em;
}

.t-tech {
    color:var(--white);
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.t-tech::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -1em;
    width: 80px;
    height: 5px;
    background: #3F69FF;
}

.progress-bar1, .progress-bar2, .progress-bar3, .progress-bar4,.progress-bar5{
    content: '';
    position: relative;
    background-color: var(--white);
    display: block;
    width: 400px;
    height: 2px;
}

.progress-bar1::before, .progress-bar2::before, .progress-bar3::before, .progress-bar4::before, .progress-bar5::before {
    content: '';
    position: relative;
    display: block;
    height: 2px;
    background-color:var(--secundaryColor);
}

.progress-bar1::after, .progress-bar2::after, .progress-bar3::after, .progress-bar4::after,.progress-bar5::after {
    position: relative;
    left: 360px;
    top: -50px;
    color: var(--white);
    font-family: -apple-system,sans-serif;
    animation:fadeInLeft;
    animation-duration:5s;
    font-size: 17px;
}

.progress-bar1::before,.progress-bar2::before, .progress-bar3::before{
    width: 400px;
}

.progress-bar4::before {
    width: 40px;
}
.progress-bar1::after, .progress-bar2::after, .progress-bar3::after {
    content: '100%';
}

.progress-bar4::after, .progress-bar5::after {
    content: 'Learning';
}

.mockup-tech p {
    background-image: paint(button);
    color: var(--white);
    display: flex;
    font-size: 1.1em;
    font-family: 'Open Sans', '-apple-system', sans-serif;
    flex-wrap: nowrap;
    z-index: 99;
    padding: 0 0.5em;
    padding: 1.5em;
    line-height: 1.8em;
}

/***********SERVICIOS***********/
.servicios {
    display: grid;
    grid-template-rows: 10% 90%;
    row-gap: 10em;
    width:100%;
    max-width: 100%;
    margin:auto;
    margin-top: 10em;
    min-height: 270vh;
    overflow: hidden;
}

.envolment {
    display: grid;
    grid-template-columns: 49% 2% 49%;
}

.t-decoration-service {
    display:grid;
    align-items: center;
    justify-content: center;
}

.t-servicios::after,.t-portafolio::after,.t-blog::after,.t-contacto::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 10%;
    height: 10px;
    background: var(--secondaryGradient);
    transform: rotate(90deg);
    z-index: -1000;
    border-radius: 10px;
}

.t-servicios::before,.t-portafolio::before,.t-blog::before,.t-contacto::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 10%;
    height: 10px;
    left: 31.5%;
    background: var(--secondaryGradient);
    transform: rotate(90deg);
    z-index: -1000;
    border-radius: 10px;
}

.t-blog::before {
    left: 37%;
}

.box1, .box2{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 208vh;
}

.block {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: center;
    justify-content: center;
    margin:auto;
}

.block-right {
    grid-template-columns: 25% 75%;
}

.t-service {
    font-size: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: var(--secondaryGradient);
    -webkit-background-clip: text;
    color:transparent;
    opacity: .1;
}

.service4, .service3 {
    padding: .9em;
}

.block img {
    width: 120%;
    height: 100%;
    object-fit: contain;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 320px;
    line-height: 2em;
    color: rgb(240, 240, 240);
    opacity: 0;
    transform: translate(-600px,0);
}

.ser3, .ser4 {
    transform: translate(600px,0);
}

canvas {
    display: flex;
    position: relative;
    margin: auto;
    z-index: 3000;
}

/***********SECCION3***********/
.seccion3 {
    display: grid;
    justify-content: center;
    align-items: flex-end;
    width:80%;
    height: 130vh;
    margin:auto;
    margin-top: 15em;
    overflow: hidden;
}

.arrows{
    /* border: 1px solid red; */
    position: relative;
    top: 235%;
    width: 100%;
    display: flex;
    color: var(--white);
    text-align: center;
    justify-content: space-between;
}

/*Cambai a los iconos cuando tenga internet*/
.arrows p {
    cursor: pointer;
    font-size: 50px;
}

.arrows p:active {
    transition: .1s;
    font-size: 40px;
}

.portafolio {
    margin:0 auto;
    margin-top: 0em;
    width: 90%;
    height: 36em;
    z-index: 999;
} 

.main-screen{
    margin: auto;
    width:100%;
    height: 100%;
    object-fit: cover;
}

.item {
    box-shadow: 0px -100px 100px -60px #3f69ff8a;;
    border-radius: 30%;
    display: none;
    width: inherit;
    height: inherit;
    animation:flipInX;
    animation-duration:2s;
}

.item:first-child {
    display: flex;
    width: inherit;
    height: inherit;
}

.slider_imagen {
    margin: auto;
    width: inherit;
    height: inherit;
}

.work-option {
    position: relative; 
    top: -100px;
    background-color: rgba(0, 0, 0, 0);
    z-index: -10;
}

.btn-projects {
    cursor: pointer;
    padding: 0 8px;
    align-items: center;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    border-bottom: 2px solid var(--white);
    font-size: 22px;
    line-height: 70px;
    background:rgba(29, 29, 29, 0);
    font-family: -apple-system,sans-serif;
    opacity: 0;
    color: var(--white);
    outline:none;
}

.git-icon {
    border-radius: 50%;
    margin: auto;
    cursor: pointer;
    font-size: 120px;
    color: var(--white);
    opacity: 0;
}

.opciones {
    object-fit: cover;
    display:grid;
    grid-template-columns:1fr 1fr ;
    height: 90%;
    width: 60%;
    margin: auto;
    align-items: center;
    align-content: center;
}

.btn-projects:hover {
    border-bottom: 2px solid var(--secundaryColor);
    transition: .2s;
}

.btn-projects:hover .project-icon {
    color: #018fe2;
    transition: .2s;
    animation: fadeInLeft;
    animation-duration: .3s;
}

.seccion4 {
    display: grid;
    grid-template-rows: 20% 70%;
    width: 90%;
    height: 100vh;
    margin: auto;
    margin-top: 20em;
}

.seccion5 {
    display: grid;
    grid-template-rows: 10% 90%;
    width: 80%;
    margin: auto;
    margin-top: 10em;
    min-height: 130vh;
} 

.menu-navegacion{
    position: fixed;
    height: 2em;
    width: 100%;
    right: 0;
    z-index: 2000;
}

.ul-menu-nav {
    position: absolute;
    display: flex;
    right: 3vw;
    width: 40%;
    height: 100%;
}

.menu-tags {
    margin: auto;
    text-align: center;
    width: 100%;
    font-size: .97em;
    list-style: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:var(--secundaryColor);
    font-weight: 500;
    text-transform: uppercase;
}

.menu-tags:hover {
    text-decoration:underline;
}

.ser_opacity {
    transition: .5s;
    opacity: 1;
}

.t-portafolio, .t-blog, .t-servicios, .t-contacto {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 2.5em;
    background-image: var(--triangle2);
    -webkit-background-clip: text;
    color:transparent;
    font-weight: 400;
    font-family: -apple-system,sans-serif;
    z-index: 5000;
    text-transform: uppercase;
}

.decor {
    border:1px solid red;
    width: 80%;
    height: 10em;
    margin-top: -5em;
    overflow: hidden;
}

.servicios::before, .servicios::after, .seccion3::before, .seccion3::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 8em;
    /* bottom: 0; */
    /* top: -0em; */
    width: 80px;
    height: 80px;
    background: #3F69FF;
    border-radius: 10%;
    transform: rotate(45deg);
    text-align: center;
}

.servicios::after, .seccion3::after {
    right: 0;
    left: 10em;
    background: #EF0070;
}

/* SECCION 4 */
.content4-1 {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.grid-destacados {
    display: grid;
    width: 100%;
    height: 40vh;
    grid-template-columns: 30% 30% 30%; 
    justify-content: space-around;
    align-items: center;
    z-index: 20;
    overflow: hidden;
}

.grid-destacados::after {
    content: '';
    position: absolute;
    left: -20em;
    display: inline-block;
    width: 300px;
    height: 300px;
    background: var(--secondaryGradient);
    z-index: 1;
    transform: rotate(45deg);
    overflow: hidden;
    border-radius: 10px;
}

.house {
    z-index: 20;
    width: 90%;
    height: 100%;
    border-radius: 5px;
    background: #12172936;
    position: relative;
    box-shadow: 10px 10px 10px #000;
}

.house img {
    object-fit: cover;
    width: 100%;
    height: 25vh;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.521);
}
.t-tech-card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    letter-spacing: 1px;
    color: rgba(196, 196, 196, 0.774);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.t-sinopsis {
    font-family: sans-serif;
    font-weight: 500;
    margin: 15px 15px;
    font-size: 14px;
    line-height: 18px;
    color: #f3f3f3;
}

/* SECCION 4 */
.bounceInDown {
    animation: bounceInDown;
    animation-duration:1.5s;
}

.not-found {
    height: 420px;
}

.social-media {
    position: fixed;
    display: flex;
    align-items: flex-start;
    width: 50px;
    height: 100%;
    max-height: 100vh;
    margin:auto;
    z-index: 1000;
}

.ul-social-media {
    position: relative;
    width: 50px;
    top: 55%;
}

.ul-social-media::after {
    content: "";
    display: block;
    width: 1px;
    height: 400px;
    margin: 0px auto;
    background-image: var(--secondaryGradient);
}

.li__social__media{
    text-align: center;
    list-style: none;
}

.social-icon{
    margin: 16px 0;
    font-size: 20px;
    color: var(--secundaryColor);
    list-style: none;
}

.social-icon:hover {
    transform: scale(1.2);
    transition: .1s;
}

.tech-p {
    font-size: 1.1em;
    color: var(--white);
    font-family: -apple-system,sans-serif;
    font-weight: 400;
}

.img-tech {
    width: 400px;
    height: 400px;
    margin-left: 100px;
}

.content5-1 {
    font-family: 'Roboto', sans-serif;
    background: var(--main-color);
    width: 60%;
    margin: auto;
    margin-top: 10em;
    color: #ccc;
}

.p-formulario {
    color: var(--white);
    line-height: 2em;
}

body::-webkit-scrollbar{
    background: transparent;
}
body::-webkit-scrollbar:hover{
    background: #dcdde4;
}

body::-webkit-scrollbar-thumb{
    background-color: #121121;
    border-radius: 4px;
}

body::-webkit-scrollbar:vertical{
height: 5px;
width: 12px;
}

.servicios-mobile {
    display: none;
}


@media screen and (max-width: 400px) {
    /* OCULTABLES */
    .menu-navegacion, .social-media {
        display: none;
    }
    /* OCULTABLES */
    .seccion1 {
        position: unset;
    }
    
    .titulos {
        display: grid;
        grid-column: span 2;
        grid-row: span 2;
        row-gap: 1.5em;
        margin-top: 0em;
        margin-left: 0em;
        font-family:'inter', sans-serif;
    }

    .servicios-mobile {
        width: 100%;
        height: 280vh;
        display: grid;
        grid-template-rows: 20% 80%;
        /* margin-top: 20em; */
    }
    .t-name{
        font-size:3em;
    }

    .seccion2 {
        height: 320vh;
    }
    
    .content2 {
        width: 100%;
        grid-template-columns:none;
        grid-template-rows: 60% 40%;
        row-gap: 5em;
        /* opacity: 0; */
    }
    
    .t-sobre-mi::after {
        width: 100%;
        height: 4px;
        margin-left: 150px;
    }
    
    .mockups {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .img-about {
        width: 50%;
        height: 70%;
    }
    .content2-2 {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        height: 200vh;
    }
    
    .progress-bar1, .progress-bar2, .progress-bar3, .progress-bar4,.progress-bar5{
        width: 300px;
    }
    
    .progress-bar1::after, .progress-bar2::after, .progress-bar3::after, .progress-bar4::after,.progress-bar5::after {
        left: 250px;
    }
    
    .progress-bar1::before,.progress-bar2::before, .progress-bar3::before{
        width: 300px;
    }    
    .mockup-tech p {
        line-height: 1.5em;
    }
    
    .servicios, .block img{
        display: none;    
    }
    
    .t-service {
        opacity: 1;
        text-align: center;
    }


    .s-box {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .square{
        opacity: 1;
        transform: translate(0,0);
    }

    .seccion3 {
        height: 100vh;
        overflow: hidden;
    }
        
    .portafolio {
        margin:0 auto;
        margin-top: 0em;
        width: 100%;
        height: 20em;
        z-index: 999;
        overflow: hidden;
    } 
    
    .btn-projects {
        font-size: 16px;
        opacity: 1;
    }
    
    .git-icon {
        font-size: 20px;
    }
    
    .grid-destacados {
        height: 160vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 4em; 
    }

    .seccion5 {
        width: 100%;
        margin-top: 40em;
    }

    .content5-1 {
        width: 80%;
        margin-top: 4em;
    }

    .t-portafolio::after,.t-blog::after.t-contacto::after, .t-servicios::after {
        width: 20%;
    }

    .t-portafolio::before,.t-servicios::before,.t-contacto::before,.t-blog::before {
        left: 0;
        width: 20%;
    }

    .t-blog::before {
        left: 20%;
    }
}
/*Modo teblet por hacer :/ */
@media screen and (max-width: 768px) {
    /* OCULTABLES */
    .menu-navegacion, .social-media {
        display: none;
    }
    /* OCULTABLES */
    .seccion1 {
        position: unset;
    }

    .titulos {
        /* border: 1px solid red; */
        display: grid;
        grid-column: span 2;
        grid-row: span 2;
        row-gap: 1.5em;
        margin-top: 0em;
        margin-left: 0em;
        font-family:'inter', sans-serif;
    }
    
    .t-name{
        font-size:3em;
    }

    .seccion2 {
        height: 320vh;
    }
    
    .content2 {
        width: 100%;
        grid-template-columns:none;
        grid-template-rows: 60% 40%;
        row-gap: 5em;
        opacity: 0;
    }
    
    .t-sobre-mi::after {
        width: 100%;
        height: 4px;
        margin-left: 150px;
    }
    
    .mockups {
        /* border: 1px solid orangered; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .img-about {
        /* border: 1px solid grey; */
        width: 50%;
        height: 70%;
    }
    .content2-2 {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
    
    .progress-bar1, .progress-bar2, .progress-bar3, .progress-bar4,.progress-bar5{
        width: 300px;
    }
    
    .progress-bar1::after, .progress-bar2::after, .progress-bar3::after, .progress-bar4::after,.progress-bar5::after {
        left: 250px;
    }
    
    .progress-bar1::before,.progress-bar2::before, .progress-bar3::before{
        width: 300px;
    }    
    .mockup-tech p {
        line-height: 1.5em;
    }
    
    .servicios, .block img{
        display: none;    
    }

    .t-service {
        opacity: 1;
        text-align: center;
    }

    .servicios-mobile {
        width: 100%;
        height: 280vh;
        display: grid;
        grid-template-rows: 20% 80%;
        /* margin-top: 25em; */
    }
    
    .s-box {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .square{
        opacity: 1;
        transform: translate(0,0);
    }

    .seccion3 {
        height: 100vh;
    }
        
    .portafolio {
        margin:0 auto;
        margin-top: 0em;
        width: 100%;
        height: 20em;
        z-index: 999;
    } 
    
    .btn-projects {
        font-size: 16px;
        opacity: 1;
    }
    
    .git-icon {
        font-size: 20px;
    }
    
    .grid-destacados {
        height: 160vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 4em; 
    }

    .seccion5 {
        width: 100%;
        margin-top: 50em;
    }

    .content5-1 {
        width: 80%;
        margin-top: 4em;
    }
    
    .t-portafolio::after,.t-blog::after.t-contacto::after, .t-servicios::after {
        width: 20%;
    }

    .t-portafolio::before,.t-servicios::before,.t-contacto::before,.t-blog::before {
        left: 0;
        width: 20%;
    }

    .t-blog::before {
        left: 20%;
    }
}

/**************ANIMACIONES**********/
.animatePulse {
    animation: pulse;
    animation-duration: 4s;
    animation-delay: -2s;
}

.fadeIn {
    animation: fadeIn;
    animation-duration: 2.9s;
}

.dsplact {
    opacity: 1;
    transition: 2s;
}

.fadeInLeft {
    opacity: 1;
    animation:fadeInLeft;
    animation-duration:1.2s;
}

.fadeInRight {
    opacity: 1;
    animation:fadeInRight;
    animation-duration:1.2s;
}

.transport {
    transform: translate(0,0);
    transition: 1.4s;
}

.box_opacity{
    opacity: 1;
}

.actives {
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    animation: fadeInUp;
    animation-duration:1s ;
    background-color: #111116d7;
    z-index: 1000;
}