* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

*::selection {background-color: rgba(71, 107, 155, 0.192);}
html {background: var(--main-color);}
body {overflow-x: hidden;}
body::-webkit-scrollbar{background: transparent;}
body::-webkit-scrollbar:hover{background: #dcdde4;}
body::-webkit-scrollbar-thumb{background-color: #121121; border-radius: 4px;}
body::-webkit-scrollbar:vertical{max-height: 5px;width: 12px;}

:root {
    scroll-behavior: smooth;
    --main-color:#0b0c16;
    --white:#ffffff;
    --bar-color:#257fc3;
    --secundaryColor:#EF0070;
    --terciaryColor:linear-gradient(218.99deg,#3F69FF -19.82%,#EF0070 100.25%);
    --secondaryGradient: linear-gradient(218.99deg,#3F69FF -19.82%,#EF0070 100.25%);
    --shadow:background-image: linear-gradient(178.77deg, rgb(2, 19, 35) -99.8%, rgb(5, 16, 47) -64.56%, rgb(13, 7, 77) -49.91%, rgb(136, 52, 150) 55.47%, rgb(244, 101, 178) 98.95%);
    --triangle:linear-gradient(25deg,#ffffff 10%,#3f69ff 30%);
    --triangle2:linear-gradient(125deg,#ffffff 70%,#c0bfbd 100%);
}

/***********SECCION1***********/
.seccion1 {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    z-index: 100;
    background-image: linear-gradient(5deg, #0b0c16 50%, #2696ff 400%);
}

.titulos {
    display: grid;
    grid-column: span 2;
    grid-row: span 2;
    row-gap: 1.5em;
    margin-top: 9em;
    margin-left: 8em;
    font-family:'inter', sans-serif;
}

.t-name{
    font-weight: 600;
    background-image: var(--triangle);
    -webkit-background-clip: text;
    color:transparent;
    font-size: 5.3em;
    z-index: 1;
}

.sub-title {
    background-image: var(--secondaryGradient);
    -webkit-background-clip: text;
    color:transparent;
    font-size: 3em;
    opacity: 0.6;
}

.header-image {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
}

.header-image img {
    width: 45%;
    min-height: 100%;
}

/***********SECCION2***********/
.seccion2 {
    width: 90%;
    min-height: 50vh;
    margin:auto;
    margin-top: 10em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 10em;
}

.content2 {
    width: 94%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 55% 45%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 99;
    border-radius: 10px;
}

.about {
    display: grid;
    grid-template-rows: 10% 90%;
    row-gap: 1em;
    color: var(--white);
}

.t-sobre-mi {
    font-family: 'inter', sans-serif;
    font-size: 34px;
    width: 50%;
    margin-left: 17px;
}

.t-sobre-mi::after {
    content: "";
    display: block;
    position: relative;
    top: -20px;
    width: 120%;
    height: 1px;
    margin-left: 180px;
    background-image: var(--secondaryGradient);
}

.parrafo-about {
    box-shadow: 0px -10px 100px -70px #3f69ff8a;
    display: inline-block;
    background-image: paint(button);
    padding: 2em; 
}

.p-sobre-mi {
    font-size: 1.1em;
    font-family: 'Open Sans', '-apple-system', sans-serif;
    z-index: 99;
    padding: 0 0.5em;
}

.mockups {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
}

.img-about {
    width: 70%;
    min-height: 100%;
}
.content2-2 {
    width: 94%;
    min-height: 100%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.barras-de-progresos{
    transform: translate(-800px,0);
    opacity: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 2em;
}

.t-tech {
    color:var(--white);
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.t-tech::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -1em;
    width: 80px;
    height: 5px;
    background: #3F69FF;
}

.progress-bar1, .progress-bar2, .progress-bar3, .progress-bar4,.progress-bar5{
    content: '';
    position: relative;
    background-color: var(--white);
    display: block;
    width: 400px;
    height: 2px;
}

.progress-bar1::before, .progress-bar2::before, .progress-bar3::before, .progress-bar4::before, .progress-bar5::before {
    content: '';
    position: relative;
    display: block;
    height: 2px;
    background-color:var(--secundaryColor);
}

.progress-bar1::after, .progress-bar2::after, .progress-bar3::after, .progress-bar4::after,.progress-bar5::after {
    position: relative;
    left: 360px;
    top: -50px;
    color: var(--white);
    font-family: -apple-system,sans-serif;
    animation:fadeInLeft;
    animation-duration:5s;
    font-size: 17px;
}

.progress-bar1::before,.progress-bar2::before, .progress-bar3::before{width: 400px;}
.progress-bar4::before {width: 40px;}
.progress-bar1::after, .progress-bar2::after, .progress-bar3::after {content: '100%';}
.progress-bar4::after, .progress-bar5::after {content: 'Learning';}

.mockup-tech p {
    box-shadow: 0px -10px 100px -70px #3f69ff8a;
    background-image: paint(button);
    color: var(--white);
    display: flex;
    font-size: 1.1em;
    font-family: 'Open Sans', '-apple-system', sans-serif;
    flex-wrap: nowrap;
    z-index: 99;
    padding: 0 0.5em;
    padding: 1.5em;
    line-height: 1.8em;
}

/***********SERVICIOS***********/
.servicios {
    display: grid;
    grid-template-rows: 10% 90%;
    row-gap: 5em;
    width:100%;
    max-width: 100%;
    margin:auto;
    margin-top: 10em;
    min-height: 130vh;
    overflow: hidden;
    position: relative;
}

.envolment {
    position: relative;
    max-height: 100%;
    display: grid;
    grid-template-columns: 49% 2% 49%;
}

.t-decoration-service {
    display:grid;
    align-items: center;
    justify-content: center;
}

.t-servicios::after,.t-portafolio::after,.t-experimentos::after,.t-contacto::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 10%;
    min-height: 10px;
    background: var(--secondaryGradient);
    transform: rotate(90deg);
    z-index: -1000;
    border-radius: 10px;
    right: 31.5%;
}

.t-servicios::before,.t-portafolio::before,.t-experimentos::before,.t-contacto::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 10%;
    height: 10px;
    left: 31.5%;
    background: var(--secondaryGradient);
    transform: rotate(90deg);
    z-index: -1000;
    border-radius: 10px;
}

.box1, .box2{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 4em;
    width: 100%;
    max-height: 100%;
    margin: auto;
}

.block {
    /* border: 1px solid cyan; */
    width: 80%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: center;
    justify-content: center;
    margin:auto;
}

.block-right {grid-template-columns: 25% 75%;}

.t-service {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: var(--secondaryGradient);
    -webkit-background-clip: text;
    color:transparent;
    opacity: .1;
    z-index: 5000;
}

.service4, .service3, .service1, .service2 {padding: .9em;}

.block img {
    display: block;
    width: 110%;
    height: 100%;
    margin: auto;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 300px;
    line-height: 2em;
    color: rgb(240, 240, 240);
    opacity: 0;
    transform: translate(-600px,0);
    /* vertical-align: text-bottom; */
}

.ser3, .ser4 {
    transform: translate(600px,0);
}

canvas {
    display: flex;
    position: relative;
    margin: auto;
    z-index: 3000;
}

/***********SECCION3***********/
.seccion3 {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: flex-end;
    justify-items: center;
    width:100%;
    min-height: 100vh;
    margin:auto;
    margin-top: 20em;
    /* overflow: hidden; */
}

.arrows{
    position: absolute;
    top: 62%;
    left: 0;
    right: 0;
    width: 86%;
    display: flex;
    color: var(--white);
    text-align: center;
    justify-content: space-between;
    margin: auto;
}

.arrows i {
    cursor: pointer;
    font-size: 70px;
}

.arrows i:active {
    transition: .1s;
    font-size: 40px;
}

.portafolio {
    margin:0 auto;
    margin-top: 10em;
    width: 80%;
    height: 70%;
    z-index: 999;
} 

.main-screen{
    margin: auto;
    width:100%;
    height: 100%;
    object-fit: cover;
}

.item {
    box-shadow: 0px -100px 100px -60px #3f69ff8a;
    border-radius: 30%;
    display: none;
    width: inherit;
    height: inherit;
    animation:flipInX;
    animation-duration:2s;
}

.item:first-child {
    display: flex;
    width: inherit;
    height: inherit;
}

.slider_imagen {
    margin: auto;
    width: inherit;
    height: inherit;
}

.work-option {
    position: relative; 
    top: -100px;
    background-color: rgba(0, 0, 0, 0);
    z-index: -10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-projects {
    cursor: pointer;
    padding: 0 8px;
    align-items: center;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    border-bottom: 2px solid var(--white);
    font-size: 22px;
    line-height: 70px;
    background:rgba(29, 29, 29, 0);
    font-family: -apple-system,sans-serif;
    opacity: 0;
    color: var(--white);
    outline:none;
}

.git-icon {
    border-radius: 50%;
    margin: auto;
    cursor: pointer;
    font-size: 120px;
    color: var(--white);
    opacity: 0;
}

.opciones {
    object-fit: cover;
    display:grid;
    grid-template-columns:1fr 1fr ;
    height: 90%;
    width: 60%;
    margin: auto;
    align-items: center;
    align-content: center;
}

.btn-projects:hover {
    border-bottom: 2px solid var(--secundaryColor);
    transition: .2s;
}

.btn-projects:hover .project-icon {
    color: #018fe2;
    transition: .2s;
    animation: fadeInLeft;
    animation-duration: .3s;
}

.seccion4 {
    position: relative;
    display: grid;
    grid-template-rows: 20% 70%;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    margin-top: 20em;
}


.seccion5::after, .seccion5::before {
    content:'';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8em;
    left: -10em;
    width: 260px;
    height: 260px;
    background-image:var(--secondaryGradient);
    transform: rotate(45deg);
    overflow-x: hidden;
}

.seccion5::after {
    width: 370px;
    top: -4em;
    left: -2em;
    transform: rotate(90deg);
    height: 40px;
    background: var(--main-color);
}

.seccion5::before {
    opacity: .80;
    border-radius: 7%;
    left: -3em;
}

.seccion5 {
    position: relative;
    display: grid;
    grid-template-rows: 10% 90%;
    width: 100%;
    margin: auto;
    margin-top: 10em;
    min-height: 130vh;
} 

.menu-navegacion{
    position: fixed;
    min-height: 3.8em;
    width: 50%;
    right: 3em;
    z-index: 2000;
}

.ul-menu-nav {
    position: absolute;
    display: grid;
    column-gap: .5em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    min-height: 100%;
}

.menu-tags {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: auto;
    text-align: center;
    width: 100%;
    font-size: .97em;
    list-style: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:var(--secundaryColor);
    font-weight: 500;
    text-transform: uppercase;
}

.menu-tags:hover {text-decoration:underline;}

.ser_opacity {
    transition: .5s;
    opacity: 1;
}

.t-portafolio, .t-experimentos, .t-servicios, .t-contacto {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 200%;
    background-image: var(--triangle2);
    -webkit-background-clip: text;
    color:transparent;
    font-weight: 400;
    font-family: -apple-system,sans-serif;
    z-index: 5000;
    text-transform: uppercase;
}

.decor {
    border:1px solid red;
    width: 80%;
    min-height: 10em;
    margin-top: -5em;
    overflow: hidden;
}

.servicios::before, .servicios::after, .seccion3::before, .seccion3::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 8em;
    width: 80px;
    min-height: 80px;
    background: #3F69FF;
    border-radius: 8%;
    transform: rotate(45deg);
    text-align: center;
}

.servicios::before, .servicios::after {
    top: 1em;
}

.servicios::after, .seccion3::after {
    right: 0;
    left: 10em;
    background: #EF0070;
}

/* SECCION 4 */
.content4-1 {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.grid-destacados {
    max-width:55em ;
    min-height: 50vh;
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%; 
    justify-content: space-around;
    align-items: center;
    z-index: 20;
    overflow: hidden;
}

.grid-destacados::after {
    content: '';
    position: absolute;
    left: -20em;
    display: inline-block;
    width: 300px;
    max-height: 300px;
    background: var(--secondaryGradient);
    z-index: 1;
    transform: rotate(45deg);
    overflow: hidden;
    border-radius: 10px;
}

.house {
    z-index: 20;
    width: 90%;
    height: 80%;
    max-height: 380px;
    border-radius: 7px;
    background: #28315383;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    cursor: pointer;
    margin: auto;
}

.house:hover {
    transform: translateY(-.4em);
    transition: .1s;
}

.enlaces-house {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.enlace-house {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #ffffff;
}

.enlace-house:hover {text-decoration: underline red;}

.enlace-house::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 22%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: red;
    box-shadow: 0px 0px 20px rgba(182, 114, 114, 0.596);
}
.house-title {
    font-size: 23px;
    line-height: 23px;
    background-image: var(--secondaryGradient);
    -webkit-background-clip: text;
    color:transparent;
    margin-top: 1em;
    margin-left: 1.2em;
    position: relative;
}

.t-tech-card, .js {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1em;
    letter-spacing: 2px;
    color: rgba(196, 196, 196, 0.774);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 0.5em;
}

.js {
    color: #e9ec2b;
    padding-left: .7em;
    margin: 0;
}

.t-sinopsis {
    font-family: sans-serif;
    font-weight: 500;
    margin: 15px 15px;
    font-size: 14px;
    line-height: 18px;
    color: #f3f3f3;
}

/* SECCION 4 */
.bounceInDown {
    animation: bounceInDown;
    animation-duration:1.5s;
}

.not-found {
    min-height: 420px;
}

.social-media {
    position: fixed;
    display: flex;
    align-items: flex-start;
    width: 50px;
    height: 100%;
    max-height: 100vh;
    margin:auto;
    z-index: 1000;
}

.ul-social-media {
    position: relative;
    width: 50px;
    top: 55%;
}

.ul-social-media::after {
    content: "";
    display: block;
    width: 1px;
    min-height: 400px;
    margin: 0px auto;
    background-image: var(--secondaryGradient);
}

.li__social__media{
    text-align: center;
    list-style: none;
}

.social-icon{
    margin: 16px 0;
    font-size: 20px;
    color: var(--secundaryColor);
    list-style: none;
}

.social-icon:hover {
    transform: scale(1.2);
    transition: .1s;
}

.tech-p {
    font-size: 1.1em;
    color: var(--white);
    font-family: -apple-system,sans-serif;
    font-weight: 400;
}

.img-tech {
    width: 400px;
    min-height: 400px;
    margin-left: 100px;
}

.content5-1 {
    font-family: 'Roboto', sans-serif;
    background: var(--main-color);
    width: 60%;
    margin: auto;
    margin-top: 10em;
    color: #ccc;
}

.p-formulario {
    color: var(--white);
    line-height: 2em;
}

.servicios-mobile {display: none;}

@media screen and (max-width: 400px) {
    /* OCULTABLES */
    .menu-navegacion, .social-media {display: none;}
    /* OCULTABLES */
    .seccion1 {position: unset;}
    
    .titulos {
        display: grid;
        align-items: center;
        height: 50%;
        margin: auto;
        font-family:'inter', sans-serif;
    }

    .header-image img {width: 100%;}

    .seccion2 {row-gap: 0;}

    .servicios-mobile {
        width: 100%;
        min-height: 280vh;
        display: grid;
        grid-template-rows: 20% 80%;
    }

    .t-name{font-size:3em;}

    .seccion2 {min-height: 320vh;}
    
    .content2 {
        width: 100%;
        grid-template-columns:none;
        grid-template-rows: 60% 40%;    
    }

    .t-sobre-mi::after {
        width: 100%;
        min-height: 4px;
        margin-left: 150px;
    }
    
    .mockups {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .img-about {
        width: 100%;
        min-height: 100%;
    }

    .content2-2 {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        min-height: 180vh;
    }
    
    .progress-bar1, .progress-bar2, .progress-bar3, .progress-bar4,.progress-bar5{
        width: 300px;
    }
    
    .progress-bar1::after, .progress-bar2::after, .progress-bar3::after, .progress-bar4::after,.progress-bar5::after {
        left: 250px;
    }
    
    .progress-bar1::before,.progress-bar2::before, .progress-bar3::before{
        width: 300px;
    }    

    .mockup-tech p {line-height: 1.5em;} 
    
    .servicios, .block img{display: none;}
    
    .t-service {
        opacity: 1;
        text-align: center;
    }

    .s-box {
        display: grid;
        min-height: 100%;
    }

    .square{
        opacity: 1;
        transform: translate(0,0);
    }

    .seccion3 {
        /* border: 1px solid red; */
        min-height: 50vh;
        overflow: hidden;
    }

    .arrows {
        width: 90%;
        top: 65%;
    }
        
    .portafolio {
        /* border: 1px solid green; */
        margin:0 auto;
        margin-top: 0em;
        width: 74%;
        max-height: 18em;
        z-index: 999;
        overflow: hidden;
    } 
    
    .btn-projects {
        font-size: 16px;
        opacity: 1;
    }
    
    .git-icon {font-size: 20px;}
    
    .seccion4 {
        grid-template-rows: 14% 86%;
        align-items: center;
        margin-top: 8em;
    }

    .grid-destacados {
        min-height: 200vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .seccion5 {
        width: 100%;
        margin-top: 20em;
    }

    .content5-1 {
        width: 80%;
        margin-top: 4em;
    }

    .t-portafolio::after,experimentos::after.t-contacto::after, .t-servicios::after {
        width: 20%;
}

    .t-portafolio::before,.t-servicios::before,.t-contacto::before,.t-experimentos::before {
        left: 0;
        width: 20%;
    }

    .t-experimentos::before {left: 20%;}

.servicios::before, .servicios::after, .seccion3::before, .seccion3::after {display: none;}

.seccion5::after, .seccion5::before {
    top: -8em;
    left: -1em;
    width: 60px;
    height: 60px;
}

.seccion5::after {
    width: 85px;
    top: -6em;
    left: -1em;
    height: 0px;
}
}
/**************ANIMACIONES**********/
.animatePulse {
    animation: pulse;
    animation-duration: 4s;
    animation-delay: -2s;
}

.fadeIn {
    animation: fadeIn;
    animation-duration: 2.9s;
}

.dsplact {
    opacity: 1;
    transition: 2s;
}

.fadeInLeft {
    opacity: 1;
    animation:fadeInLeft;
    animation-duration:1s;
}

.fadeInRight {
    opacity: 1;
    animation:fadeInRight;
    animation-duration:1s;
}

.transport {
    transform: translate(0,0);
    transition: 1.2s;
}

.box_opacity{opacity: 1;}

.actives {
    position: relative;
    top: -100%;
    width: 100%;
    min-height: 100%;
    animation: fadeInUp;
    animation-duration:1s ;
    background-color: #111116d7;
    z-index: 1000;
}